In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import sklearn
import tqdm
from sklearn.model_selection import train_test_split

In [10]:
df_usage = pd.read_csv('/mnt/data/App_usage_trace.txt', sep=' ', names=['user', 'time', 'location', 'app', 'traffic'])
df_usage

         user            time  location  app  traffic
0           0  20160420081319      8194  361     1920
1           0  20160420081320      8194  361     1764
2           0  20160420081322      8194  361     4434
3           0  20160420081330      8194  361      703
4           0  20160420081331      8194  361     1682
...       ...             ...       ...  ...      ...
4171945   999  20160426221917       413    5     2533
4171946   999  20160426221921       413    5     1361
4171947   999  20160426222026       413    5     1365
4171948   999  20160426223413       413    5     1400
4171949   999  20160426225418       413   70      789

[4171950 rows x 5 columns]

In [11]:
df_usage = pd.read_csv('/mnt/data/App_usage_trace.txt', sep=' ', names=['user', 'time', 'location', 'app', 'traffic'])
df_usage = df_usage[['user', 'time', 'app']]

# merging the consecutive usage records of the same app in one minute
df_usage['time'] = df_usage['time'].apply(lambda x: str(x)[:-2])
df_usage.drop_duplicates(inplace=True)

# delete apps used less than 10 times for all users
df_usage = df_usage[df_usage.groupby('app')['app'].transform('count').ge(10)]

In [12]:
df_usage.head(10)

    user          time  app
0      0  201604200813  361
5      0  201604200816  361
6      0  201604200816   31
7      0  201604200816  360
8      0  201604200816  612
10     0  201604200817   31
13     0  201604200817  360
14     0  201604200817  361
16     0  201604200824    1
17     0  201604200829   31

In [ ]:
prev_user = -1
prev_time = -1
app_seq = []
time_seq = []
all_app_seq= []
all_time_seq = []

seq_length = 4

# df_usage is already sorted based on user and time sequence
for i in tqdm.tqdm(range(len(df_usage))):
    user = df_usage.iloc[i]['user']
    app = df_usage.iloc[i]['app']
    time = df_usage.iloc[i]['time']
    time = datetime.datetime.strptime(time, '%Y%m%d%H%M')
    
    if prev_user != user:
        app_seq = [app]
        time_seq = [time]
        all_app_seq.append([])
        all_time_seq.append([])
        
    else:
        # same sequence if the time gap between them is equal to or less than 7 mins
        if (time - prev_time).total_seconds()//60 <= 7:
            if len(app_seq) == seq_length:
                all_app_seq.append(app_seq)
                all_time_seq.append([(prev_time - x).total_seconds()//60 for x in time_seq])
                app_seq = app_seq[1:] + [app]
                time_seq = time_seq[1:] + [time]
            else:
                app_seq.append(app)
                time_seq.append(time)
                all_app_seq.append([])
                all_time_seq.append([])
        else:
            app_seq = [app]
            time_seq = [time]
            all_app_seq.append([])
            all_time_seq.append([])
    
    prev_user = user
    prev_time = time

  5%|▌         | 58104/1123955 [00:18<05:04, 3496.59it/s]

In [ ]:
df_usage['app_seq'] = all_app_seq
df_usage['time_seq'] = all_time_seq

# only filled sequences are treated as data
df_usage = df_usage[df_usage['app_seq'].map(len) != 0]
# delete users who have sequences less than 50
df_usage = df_usage[df_usage.groupby('user')['user'].transform('count').ge(50)]

df_usage[:10]

In [6]:
# represent time as weekday_time
def prep_time(t):
    t = t[:-2]
    weekday = datetime.datetime.strptime(t[:-2], '%Y%m%d').weekday()
    return '{}_{}'.format(weekday, t[-2:])

df_usage['time'] = df_usage['time'].apply(lambda x: prep_time(x))

In [7]:
df_usage.head()

    user  time  app              app_seq              time_seq
8      0  2_08  612  [361, 361, 31, 360]  [3.0, 0.0, 0.0, 0.0]
10     0  2_08   31  [361, 31, 360, 612]  [0.0, 0.0, 0.0, 0.0]
13     0  2_08  360   [31, 360, 612, 31]  [1.0, 1.0, 1.0, 0.0]
14     0  2_08  361  [360, 612, 31, 360]  [1.0, 1.0, 0.0, 0.0]
16     0  2_08    1  [612, 31, 360, 361]  [1.0, 0.0, 0.0, 0.0]

In [19]:
user2id = {u: i for i, u in enumerate(sorted(df_usage['user'].unique()))}
list(user2id.items())[:10] # return topN elements in the dictionary

[(0, 0),
 (1, 1),
 (2, 2),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9)]

In [8]:
user2id = {u: i for i, u in enumerate(sorted(df_usage['user'].unique()))}
app_set = set()
for s in df_usage['app_seq'].values:
    app_set.update(s)
app2id = {a: i for i, a in enumerate(sorted(app_set))}

In [9]:
def dict2file(dic, filename):
    with open(filename, 'w') as f:
        for k, v in dic.items():
            f.write("{}\t{}\n".format(k, v))

In [10]:
dict2file(user2id, "data/user2id.txt")
dict2file(app2id, "data/app2id.txt")

In [11]:
df_dataset = pd.DataFrame()
df_dataset['user'] = df_usage['user'].apply(lambda x: user2id[x])
df_dataset['time'] = df_usage['time']
df_dataset['app_seq'] = df_usage['app_seq'].apply(lambda x: [app2id[c] for c in x])
df_dataset['time_seq'] = df_usage['time_seq']
df_dataset['app'] = df_usage['app'].apply(lambda x: app2id[x])

In [12]:
train, test = train_test_split(df_dataset, test_size=0.2, random_state=2021, stratify=df_dataset['user'])
train.to_csv('data/train.txt', sep='\t', index=False)
test.to_csv('data/test.txt', sep='\t', index=False)